<div><p class="text-font" style="margin:0px; font-size: 30px; margin-bottom: 50px;"><b>Some of your favorites want to wish you on this special day</b></p></div>
<div>

    <!-- <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="image"></div>
            </mat-card-header>

            <mat-card-content>
                <p>
                    you know me very well since your childhood,
                    in a way by being a kid at heart you have won love and affection of many people in
                    and around your circle.. (might be aji gets lil bit of jealousy over here),
                    so never let your inner child go to coma stage. Let her be active with cerlac and happiness.Wish u a Happiee birthday and healthier future...
                </p>
              </mat-card-content>
        </mat-card> -->
        <div class="fav-container">
            <div>
                <img class="left-img" src="../../assets/images/cerlac1.png" alt="Nestle cerlac">
            </div>
                <div class="item-text">
                  you know me very well since your childhood,
                  in a way by being a kid at heart you have won love and affection of many people in
                  and around your circle.. (might be aji gets lil bit of jealousy over here),
                  so never let your inner child go to coma stage. Let her be active with cerlac and happiness.Wish u a Happiee birthday and healthier future...
              </div>


        </div>
        <div class="fav-container">
          <div class="item-text">
            Kuwaa.. Kuwaa.. Kozhandha alaradha.. Tears are good to wash away your pain, It's ok
            to have melt down, cry it out then refocus on where you are headed.. You are a woodwards papa,
            Remember this , sirikum papa woodwards papa..  Happy birthday.. Keep Smiling..
        </div>

            <div>
                <img class="right-img" src="../../assets/images/gripe_water.jpg" alt="Gripe water">
            </div>
        </div>
</div>
