// transform: rotate(-17deg);
.fav-container {
    display: flex;
    flex-direction: row;

    .item-text {
        margin: 10px;
    }

    .left-img {
        width: 200px;
        height: auto;
        padding: 30px 50px;
        transform: rotate(-20deg);
    }

    .right-img {
        width: 200px;
        height: auto;
        padding: 30px 50px;
        transform: rotate(20deg);
    }
}

@media screen and (max-width:767px) {
    .fav-container { flex-wrap: wrap;  }
   // .item:first-child { flex-basis: 100%; }
  }

// .card-container {
//     max-width: 200px;
   
//     margin: 10px 100px;
// }