
<div class="colum">
  <span style="font-size: 40px; padding: 20px;"> Caution: These are created on Bodhai / Angry mode</span>
</div>
<div class="collections">
  <img src="../../assets/pics/Bday/IMG_1605353317624.png">
  <img src="../../assets/pics/Bday/IMG_1605352610643.png">
  <img src="../../assets/pics/Bday/IMG_1605353007621.png">
  <img src="../../assets/last/IMG_1605963102281.png">
  <img src="../../assets/last/IMG_1605961418776.png">
  <img src="../../assets/last/IMG_1605959126522.png">
  <img src="../../assets/pics/Bday/IMG_1605354715633.png">
  <img src="../../assets/pics/Bday/IMG_1605352770686.png">
  <img src="../../assets/pics/Bday/IMG_1605349814351.png">
</div>
<div class="colum">
  <img src="../../assets/last/IMG_1605961733182.png">
  <img src="../../assets/last/IMG_1605962382737.png">
  <img src="../../assets/last/IMG_1605963666606.png">
 <span style="font-size: 30px; padding: 30px; width: 70%;">You are the most favorite soul and only person for
    whom I am doing such stupid things, You know what you mean to me. Happiiee Birthday. - Aji😠.</span>
</div>
