

// transform: rotate(-17deg);
.fav-container {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  margin-bottom: 50px;

  .item-text {
    margin: 10px;
    font-size: 30px;
    font-family: cursive;
  }

  .left-img {
    width: 200px;
    height: auto;
    padding: 30px 75px;
    transform: rotate(-12deg);
  }

  .right-img {
    width: 200px;
    height: auto;
    padding: 30px 75px;
    transform: rotate(12deg);
  }
}

@media screen and (max-width: 767px) {
  .fav-container {
    flex-wrap: wrap;
  }
}

