<!-- <div class="container">
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Akbar</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/images/akbar.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>hello</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Akbar</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/images/akbar.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          You know that, Iam illiterate, I could neither read or write, but
          don't worry, Jodha bai helped me with that, So I 've listened to all
          your email drafts. You have been through a lot, I know it's hard, but
          Iam so proud of you, You are STRONG, BRAVE , and SMART. You were given
          the gift of kind heart. Keep going strong and try not to stray.
          Everything you've been praying for is on it's way. Believe and fight
          for what you want.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
<div>
  <p
    class="text-font"
    style="
      margin: 0px;
      font-size: 50px;
      margin-bottom: 50px;
      padding: 10px 10px;
    "
  >
    <b>Wishes from the people you like</b>
  </p>
</div>
<div style="padding-bottom: 50px">
  <div class="fav-container">
    <div class="item-text">
      You know that, Iam illiterate, I could neither read or write, but don't
      worry, Jodha bai helped me with that, So I 've listened to all your email
      drafts. You have been through a lot, I know it's hard, but Iam so proud of
      you, You are STRONG, BRAVE , and SMART. You were given the gift of kind
      heart. Keep going strong and try not to stray. Everything you've been
      praying for is on it's way. Believe and fight for what you want. Haappie
      birthday - From Jalal-ud-din Muhammad <b>Akbar</b>.
    </div>
    <div>
      <img
        class="right-img"
        src="../../assets/images/akbar.jpg"
        alt="Nestle cerlac"
      />
    </div>
  </div>
  <div class="fav-container">
    <div>
      <img
        class="left-img"
        src="../../assets/images/pon.webp"
        alt="Nestle cerlac"
      />
    </div>
    <div class="item-text">
      இனிய பிறந்த நாள் வாழ்த்துக்கள்... I know when you read my book it makes
      you travel into another ancient world, and you can't stop after reading
      for the first time, especially Ponniyin Selvan. Keep reading , it gives
      you someplace to go when you have to stay where you are - கல்கி
      கிருஷ்ணமூர்த்தி.
    </div>
  </div>

  <div class="fav-container">
    <div class="item-text">
      <b>கண்மணி போன்றவளே </b> , <b>பேசும் பொற்சித்திரமே</b>... இனி வரும்
      <b>எல்லா நாள் நல்ல நாள்</b>, <b>விடியலை தேடி</b>ய பாதையில் உன்
      <b>கனவு மெய்ப்படவேண்டும்</b> , <b>நினைவு நல்லது வேண்டும்</b>,
      <b>புன்னகையில் புது உலகம் காண</b> வாழ்த்துக்கள்.
      <!-- <b>அன்பு மனம் மாறியதேன்</b>, <b>நேசம் மறக்கவில்லை நெஞ்சம்</b>, உன்
      <b>சொந்தம் என்றும் தொடர் கதைதான்</b>.  -->
      From your best travel(bus) partner,
      Happy birthday...! Be bold like the characters in my stories, Between Sarayu and
      Jishnu want to convey birthday wishes to you.
    </div>
    <div>
      <img
        class="right-img"
        src="../../assets/images/ramani.png"
        alt="Nestle cerlac"
      />
    </div>
  </div>
  <div class="fav-container">
    <div>
      <img
        class="left-img"
        src="../../assets/images/tinker.jpg"
        alt="Nestle cerlac"
      />
    </div>
    <div class="item-text">
      Birthday wishes to the sweet and sassy person, who has the talent for
      tinkering.. Keep calm and Say "I tink and I can", all you need is faith, trust and lil
      pixie dust. I've sprinkled happy dust on you, now SMILEEE....
    </div>
  </div>
  <div class="fav-container">
    <div class="item-text">
    Anitha Unaku poranthanall... poranthanalll.. Anitha Unaku poranthanall... poranthanalll..
    Anitha ne azhaga porandhutiye.. Pirandha naal vazhthukal nga.. Happy birthday, Have funn,
    Turn up the music and Dance like no one is watching...
    Palavidha problems will come and go konjam chill pannu mappi...
    - Thalapathy.

    [u are the sweetest soul in my life and only person for whom I am doing such stupid app-things
    coz ur presence matters a lot]

    </div>
    <div>
      <img
        class="right-img"
        style="width: 350px !important;"
        src="../../assets/images/vijay.png"
        alt="Nestle cerlac"
      />
    </div>
  </div>
  <div class="fav-container">
    <div>
      <img
        class="left-img"
        style="width: 350px !important;"
        src="../../assets/images/flynn.gif"
        alt="Nestle cerlac"
      />
    </div>
    <div class="item-text">
 Have a great birthday ...!
    </div>
  </div>
</div>
