
  <p class="bday-text center">இனிய பிறந்த நாள் நல்வாழ்த்துக்கள்</p>

  <div class="container">
    <div class="animate" style="font-size: 40px;"> <span style="background-color: navajowhite;">பொறுப்பு திறப்பு / DISCLAIMER</span></div>
    <div class="animate" style="font-size: 30px; padding: 20px ; padding-bottom: 300px;"><span style="background-color: navajowhite;">
      What you are about to see is for fun purpose only,
       the viewpoints and thoughts expressed over here is a figment of imagination and kind of my understanding towards you,
       they are not meant to offend you, it contains some own thoughts plus some collected from various platforms.
       And note this point, I know unsolicited advices are rude.. this is created by a person who is not good at giving and taking advices,
       these are not advices just wishes... if you
       don't like it, feel free to say "moodtu po" to her.[<b>View this in large screen</b>, less than 1024 * 768 is not recommended, eanna responsiveness
       seivadharku neram koodi varavillai + somberithanam] Relax and scroll down.
    </span></div>
<div><button mat-raised-button class="btn" routerLink="/things"><span class="side-headings">The one where things convey wishes</span></button></div>
<div><button mat-raised-button class="btn" routerLink="/characters"><span class="side-headings">The one with characters</span></button></div>
<div><button mat-raised-button class="btn" routerLink="/fun"><span class="side-headings">The one with some fun</span></button></div>
<div><button mat-raised-button class="btn" routerLink="/emotions"><span class="side-headings">The one with emotions</span></button></div>

</div>


  <div>
    அன்று பகற்பொழுது வந்தியத்தேவனுக்கு எளிதில் போய்விட்டது. பாதி நேரத்துக்கு மேல் தூங்கிக் கழித்தான். விழித்திருந்த
    நேரமெல்லாம் பூங்குழலியின் விசித்திர சுபாவத்தைப் பற்றி எண்ணுவதில் சென்றது.என்ன அதிசயமான பெண்? எவ்வளவு இனிய சரளமான பெயர்? ஆனால் சுபாவம் எவ்வளவு கடுமையானது? 'கடுமை' மட்டுந்தானா? அதில்
    இனிமையும் கலந்து தானிருந்தது! சிறுத்தையை அடித்துக் கொன்ற காரியத்தைப் பற்றி எவ்வளவு சர்வசாதாரணமாகக் கூறினாள்?
    இவ்வளவுடன் சில சமயம் உன்மத்தம் பிடித்தவள் மாதிரி நடந்து கொள்கிறாளே, அது ஏன்? இந்தப் பெண்ணின் வாழ்க்கையில் ஏதோ ஒரு
    கசப்பான சம்பவம் நடந்திருக்க வேண்டுமே! கசப்பான சம்பவமோ, அல்லது இனிப்பான சம்பவந்தானோ! இரண்டினாலும் இப்படி ஒரு பெண்
    உன்மத்தம் பிடித்தவள் ஆகியிருக்கக் கூடும்! அல்லது ஒன்றுமே காரணமில்லாமல், பிறவியிலேயே இத்தகைய இயற்கையுடன் பிறந்தவளோ?
    இவளுடைய பெற்றோர்களின் இயற்கையில் விசேஷம் ஒன்றையும் காணவில்லையே? இனிய, சாந்த சுபாவம் படைத்தவர்களாயிருக்கிறார்களே!...
    குணம் எப்படியாவது இருக்கட்டும். நம்மிடம் இவளுக்கு இவ்வளவு சிரத்தை ஏற்பட்டதன் காரணம் என்ன? பழுவூர் ஆட்களிடம் நாம்
    பிடிபடாமல் தப்புவிப்பதற்கு இவ்வளவு பிரயத்தனம் செய்திருக்கிறாளே? இலங்கைக்குப் படகு வலித்துக் கொண்டு வருவதாகவும்
    சொல்லியிருக்கிறாளே? இதிலெல்லாம் ஏதாவது ஏமாற்றம் இருக்குமோ?... ஒருநாளும் இல்லை. ஆனாலும் இவள் மனம் மாறியதன் காரணம்
    என்ன? நம்மிடம் இவள் எந்தவித பிரதி உபகாரத்தை எதிர்பார்க்கிறாள்? பின்னால் கூறுவதாகக் கூறியிருக்கிறாளே? அது
    என்னவாயிருக்கும்?...'இவ்வாறு வந்தியத்தேவன் சிந்தனை செய்து கொண்டிருந்த சமயங்களில், பூங்குழலி கூறியிருந்தது போலவே, அவனைச் சுற்றி
    நாலாபுறங்களிலும் அடிக்கடி அமளிதுமளிப்பட்டது. குதிரைகளின் ஓட்டம், மனிதர்களின் அட்டகாசம், சிறிய வன ஜந்துக்களின் பயம்
    நிறைந்த கூச்சல், பறவைகள் கிறீச்சிடுதல் - இவ்வளவும் சேர்ந்து சில சமயம் ஒரே அமர்க்களமாயிருந்தது. அடுத்தாற்போல் அமைதி
    குடிகொண்டு நிசப்தமாயுமிருந்தது. அமர்க்களப்பட்டதெல்லாம் தன்னைச் தேடிப் பிடிப்பதற்காகத்தான் என்று வந்தியத்தேவன்
    உணர்ந்தான். வைத்தியரின் மகன் செய்த துரோகமும் அவனுடைய மனத்தில் அடிக்கடி வந்து கொண்டிருந்தது!
    'நிர்மூடன்! பூங்குழலியிடம் அதற்குள் மையல் கொண்டு விட்டதாக அவனுக்கு எண்ணம் போலும்! சிறிய குட்டையில் உள்ள தண்ணீர் வடவா
    முகாக்கினியின் மீது காதல் கொண்டது போலத் தான்! பெண் சிங்கத்தை ஒரு சுண்டெலி கல்யாணம் செய்து கொள்ள எண்ணிய கதைதான்!
    ஆனாலும் அவனுடைய அறிவீனத்தை இந்தப் பெண் எப்படிப் பயன்படுத்திக் கொண்டு விட்டாள்! அவனுடைய மனத்தில் எவ்விதம் பொறாமைக்
    கனலை மூட்டிவிட்டாள்?... அரை நாழிகை நேரத்தில் அவனைத் துரோகியாக்கி விட்டாளே! பெண்மையின் சக்தி அபாரமானதுதான்!'
    'வந்தியத்தேவா! ஒன்று மட்டும் நீ ஒப்புக் கொள்ளத்தான் வேண்டும்! நீ உன்னை வெகு கெட்டிக்காரன் என்று எண்ணியிருந்தாய்!
    தந்திர மந்திர சாமர்த்தியங்களில் உனக்கு இணை யாரும் இல்லை என்று இறுமாந்திருந்தாய்! ஆனால் இந்த நாகரிகமறியாத காட்டு
    மிராண்டிப் பெண் உன்னைத் தோற்கடித்து விட்டாள்! கடலில் இறங்கிக் குளித்துக் கொண்டிருந்த உன்னை இந்த மறைந்த மண்டபத்தில்
    கொண்டு சேர்ப்பதற்கு அவள் கையாண்ட யுக்தியை என்னவென்று சொல்வது? அப்படி அவள் உன் அரைச் சுற்றுச் சுருளை எடுத்துக்கொண்டு
    ஓடியிராவிட்டால், இத்தனை நேரம் என்ன ஆகியிருக்கும்? பழுவூர் ஆட்களிடம் நீ சிக்கியிருப்பாய்! காரியம் அடியோடு கெட்டுப்
    போயிருக்கும்!... ஆம் இனி எப்போதும் இம்மாதிரி அஜாக்கிரதையாக இருந்துவிடக் கூடாது.'மேற்குக் கடலில் சூரியன் அஸ்தமித்தது. கோடிக்கரையில் இது ஓர் அற்புதமான காட்சி. அதுவரை தெற்கு நோக்கி வரும் கடற்கரை அந்த
    முனையில் நேர்கோணமாக மேற்கு நோக்கித் திரும்பிச் செல்கிறது. ஆதலின் கோடிக்கரையில் மேடான இடத்திலிருந்து பார்த்தால்
    கிழக்கு - மேற்கு - தெற்கு ஆகிய மூன்று திசைகளிலும் கடல் பரந்திருக்கக் காணலாம். சிற்சில மாதங்களில் சூரிய சந்திரர்கள்
    கிழக்குக் கடலில் ஜோதிமயமாக உதயமாவதையும் பார்க்கலாம். மேற்கே கடலைத் தங்கமயமாகச் செய்து கொண்டு முழுகி மறைவதையும்
    காணலாம். வந்தியத்தேவனுக்கு மண்டபத்தை மூடியிருந்த மணல்திட்டின் மேல் ஏறிச் சூரியன் கடலில் மறையும் காட்சியைப் பார்க்க
    ஆவல் உண்டாயிற்று. அதைப் பிரயத்தனப்பட்டு அடக்கிக் கொண்டான்.நாலாபுறமும் அந்தகாரம் சூழ்ந்து வந்தது. மறைந்த மண்டபத்தில் முன்னமே குடி கொண்டிருந்த இருள் பன்மடங்கு கரியதாயிற்று.
    வந்தியத்தேவனால் அங்கே மேலும் இருக்க முடியவில்லை வெளியேறி வந்தான். மண்டபத்தை மூடிய மணல் திட்டின் மீது நின்றான்.
    வெகுதூரத்தில் கலங்கரை விளக்கின் ஒளி தெரிந்தது. வானத்தில் வைரமணிகள் சுடர்விட்டு ஜொலித்தன. காட்டில் பல விசித்திரமான
    ஒலிகள் உண்டாயின. பகலில் வனப்பிரதேசத்தில் கேட்கும் ஒலிகளுக்கும் இரவில் கேட்கும் ஒலிகளுக்கும் மிக்க வேற்றுமை இருந்தது.
    இரவில் கேட்கும் ஒலிகள் மர்மம் நிறைந்து உள்ளத்தில் பீதியையும் உடலிலே சிலிர்ப்பையும் உண்டாக்கின. பகலில் எதிரே புலியைப்
    பார்த்தாலும் மனம் பதறுவதில்லை; பயமும் உண்டாவதில்லை. இரவில் ஒரு புதரில் சின்னஞ்சிறு எலி ஓடினாலும் உள்ளம்
    திடுக்கிடுகிறது!இதோ குயிலின் குரல்; 'குக்கூ!', 'குக்கூ!' அந்தக் குரல் தேவகானத்தைப் போல் வந்தியத்தேவன் காதில் ஒலித்தது. குரல் வந்த
    திக்கை நோக்கிச் சென்றான். பூங்குழலி அங்கு நின்றாள். 'சத்தம் செய்யாமல் என்னுடன் வா' என்று சமிக்ஞை செய்தாள்.
    அங்கிருந்து கடற்கரை வெகு சமீபம் என்று தெரிய வந்தது.கடற்கரையில் படகு ஆயத்தமாயிருந்தது. அதில் பாய் மரமும் பாயும் அதைக் கட்டும் கயிறும் சுருட்டி வைக்கப்பட்டிருந்தன.
    படகிலிருந்து இரண்டு கழிகள் நீட்டிக் கொண்டிருந்தன. அந்தக் கழிகளின் முனையில் ஒரு பெரிய மரக்கட்டை பொருத்திக்
    கட்டப்பட்டிருந்தது. படகைக் கடலில் இறக்குவதற்கு வந்தியத்தேவன் உதவி செய்யப்போனான்.
    'நீ சும்மா இரு!' என்று பூங்குழலி சமிக்ஞை செய்தாள்.படகை லாவகமாகத் தள்ளிக் கடலில் இறக்கினாள். சிறிதும் சத்தமின்றிக் கடலில் அப்படகு இறங்கியது.
    வந்தியத்தேவன் படகில் ஏறிக்கொள்ள யத்தனித்தான். "உஷ்! சற்றுப் பொறு! கொஞ்ச தூரம் போன பிறகு நீ ஏறிக்கொள்ளலாம்!" என்று
    பூங்குழலி மெல்லிய குரலில் கூறிவிட்டுப் படகைப் பிடித்து இழுத்துக் கொண்டே போனாள்.
    வந்தியத்தேவன் தானும் உதவி செய்ய எண்ணிப் படகைத் தள்ளினான். படகு நின்று விட்டது."நீ சும்மா வந்தால் போதும்!" என்றாள் பூங்குழலி.
    கரை ஓரத்தில் அலை மோதும் இடத்தைக் தாண்டிய பிறகு "இனிமேல் படகில் ஏறிக்கொள்ளலாம்!" என்று சொல்லி, அவள் முதலில் ஏறிக்
    கொண்டாள். வந்தியத்தேவனும் தாவி ஏறினான். அப்போது படகு அதிகமாக ஆடியது. அந்த ஆட்டத்தில் வந்தியத்தேவன் கடலில் விழுந்து
    விடுவான் போலத் தோன்றியது; சமாளித்துக்கொண்டு உட்கார்ந்தான். ஆயினும் அவனுடைய நெஞ்சு படபடவென்று அடித்துக் கொண்டது.
    "இனிமேல் ஏதாவது பேசலாம் அல்லவா?" என்று கேட்டான்."நன்றாகப் பேசலாம். உனக்கு நடுக்கம் நீங்கியிருந்தால் பேசலாம்!" என்றாள் பூங்குழலி.
    அன்று பகற்பொழுது வந்தியத்தேவனுக்கு எளிதில் போய்விட்டது. பாதி நேரத்துக்கு மேல் தூங்கிக் கழித்தான். விழித்திருந்த
    நேரமெல்லாம் பூங்குழலியின் விசித்திர சுபாவத்தைப் பற்றி எண்ணுவதில் சென்றது.என்ன அதிசயமான பெண்? எவ்வளவு இனிய சரளமான பெயர்? ஆனால் சுபாவம் எவ்வளவு கடுமையானது? 'கடுமை' மட்டுந்தானா? அதில்
    இனிமையும் கலந்து தானிருந்தது! சிறுத்தையை அடித்துக் கொன்ற காரியத்தைப் பற்றி எவ்வளவு சர்வசாதாரணமாகக் கூறினாள்?
    இவ்வளவுடன் சில சமயம் உன்மத்தம் பிடித்தவள் மாதிரி நடந்து கொள்கிறாளே, அது ஏன்? இந்தப் பெண்ணின் வாழ்க்கையில் ஏதோ ஒரு
    கசப்பான சம்பவம் நடந்திருக்க வேண்டுமே! கசப்பான சம்பவமோ, அல்லது இனிப்பான சம்பவந்தானோ! இரண்டினாலும் இப்படி ஒரு பெண்
    உன்மத்தம் பிடித்தவள் ஆகியிருக்கக் கூடும்! அல்லது ஒன்றுமே காரணமில்லாமல், பிறவியிலேயே இத்தகைய இயற்கையுடன் பிறந்தவளோ?
    இவளுடைய பெற்றோர்களின் இயற்கையில் விசேஷம் ஒன்றையும் காணவில்லையே? இனிய, சாந்த சுபாவம் படைத்தவர்களாயிருக்கிறார்களே!...
    குணம் எப்படியாவது இருக்கட்டும். நம்மிடம் இவளுக்கு இவ்வளவு சிரத்தை ஏற்பட்டதன் காரணம் என்ன? பழுவூர் ஆட்களிடம் நாம்
    பிடிபடாமல் தப்புவிப்பதற்கு இவ்வளவு பிரயத்தனம் செய்திருக்கிறாளே? இலங்கைக்குப் படகு வலித்துக் கொண்டு வருவதாகவும்
    சொல்லியிருக்கிறாளே? இதிலெல்லாம் ஏதாவது ஏமாற்றம் இருக்குமோ?... ஒருநாளும் இல்லை. ஆனாலும் இவள் மனம் மாறியதன் காரணம்
    என்ன? நம்மிடம் இவள் எந்தவித பிரதி உபகாரத்தை எதிர்பார்க்கிறாள்? பின்னால் கூறுவதாகக் கூறியிருக்கிறாளே? அது
    என்னவாயிருக்கும்?...'இவ்வாறு வந்தியத்தேவன் சிந்தனை செய்து கொண்டிருந்த சமயங்களில், பூங்குழலி கூறியிருந்தது போலவே, அவனைச் சுற்றி
    நாலாபுறங்களிலும் அடிக்கடி அமளிதுமளிப்பட்டது. குதிரைகளின் ஓட்டம், மனிதர்களின் அட்டகாசம், சிறிய வன ஜந்துக்களின் பயம்
    நிறைந்த கூச்சல், பறவைகள் கிறீச்சிடுதல் - இவ்வளவும் சேர்ந்து சில சமயம் ஒரே அமர்க்களமாயிருந்தது. அடுத்தாற்போல் அமைதி
    குடிகொண்டு நிசப்தமாயுமிருந்தது.
  </div>

