<div style="background-color: black;">
  <div class="container">
<!-- <img src="../../assets/pics/Bday/23.jpg"> -->
<!-- <img src="../../assets/pics/Bday/IMG_1605349814351.png">
<img src="../../assets/pics/Bday/IMG_1605352610643.png">
<img src="../../assets/pics/Bday/IMG_1605352770686.png">
<img src="../../assets/pics/Bday/IMG_1605353007621.png">
<img src="../../assets/pics/Bday/IMG_1605353317624.png">
<img src="../../assets/pics/Bday/IMG_1605354715633.png">
<img src="../../assets/pics/Bday/IMG_20191002_013258.jpg"> -->
<img src="../../assets/pics/Bday/IMG_20201116_221940.jpg">
<img src="../../assets/pics/Bday/wa.jpg">
<img src="../../assets/pics/Bday/IMG_20201116_222043.jpg">
<img src="../../assets/pics/Bday/PhotoGrid_1605437271816.jpg">
<img src="../../assets/pics/Bday/IMG_20201116_222123.jpg">
<img src="../../assets/pics/Bday/IMG_20201116_222204.jpg">
<img src="../../assets/pics/Bday/IMG_20201116_221810.jpg">
<img src="../../assets/pics/Bday/IMG_20201116_221832.jpg">
<img src="../../assets/pics/Bday/IMG_20201116_221854.jpg">
<img src="../../assets/pics/Bday/IMG_20201116_222025.jpg">
<img src="../../assets/pics/Bday/IMG_20201116_222105.jpg">
<img src="../../assets/new/Bnew/angrybird.jpg">
<img src="../../assets/new/Bnew/hygiene.jpg">
<img src="../../assets/pics/Bday/IMG_20201116_221925.jpg">
<img src="../../assets/pics/Bday/PhotoGrid_1605606042968.jpg">
<img src="../../assets/new/Bnew/PhotoGrid_1605710430968.jpg">
<img src="../../assets/new/Bnew/dark.jpg">
<img src="../../assets/pics/Bday/beach.jpg">
<img src="../../assets/pics/Bday/IMG_20201117_214056.jpg">
<img src="../../assets/pics/Bday/IMG_20201117_214043.jpg">
<img src="../../assets/pics/Bday/dog.jpg">
<img src="../../assets//pics/Bday/exercise.jpg">
<img src="../../assets/pics/Bday/sleep(1).jpg">
<img src="../../assets/pics/Bday/IMG_20201116_221911.jpg">
<img src="../../assets/pics/Bday/10 mani.jpg">
<img src="../../assets/new/Bnew/inter.jpg">
<img src="../../assets/pics/Bday/satham.jpg">
<img src="../../assets/new/Bnew/sari airum.jpg">
<img src="../../assets/new/Bnew/prjct.jpg">
<img src="../../assets/new/Bnew/surprise.jpg">
<img src="../../assets/pics/Bday/thoughts.jpg">
<img src="../../assets/last/IMG_20201121_170016.jpg">
<img src="../../assets/pics/Bday/IMG_20201116_222009.jpg">
</div>
</div>
